<style>
    .models_column {
        width: 200px;
        display: inline-table;
    }

    input[type=radio] {
        width: 12px;
        height: 12px;
    }

    td, th {
        width: 160px
    }

    .btn-default {
        border: 0;
        padding: 3px;
        min-width: 160px;
        text-align: left;
        font-size: 13px;
    }

    td {
        -webkit-box-sizing: initial !important;
        box-sizing: initial !important;
    }
</style>


<div>
    <div style="border-bottom:1px solid #f3f3f3;">
<span style=" width:45%;display:inline-table; text-align: left;">
<h4>
    Cena modelu {{orderedCar.name}}:{{orderedCar.price}} zł qwwww
</h4>
</span>
<span>
Wybierz silnik dla {{orderedCar.name}} aby kontynuować konfigurację
 <input placeholder="wyszukaj silnik" class="form-control" aria-describedby="sizing-addon1"
        style=" height:25px;width:200px;margin-bottom:5px; display:inline-table" input ng-model="search2.$">
</span>
    </div>


    <div class="models_column">
        <h4>Typ paliwa</h4>
        <div>

            <input type="checkbox" ng-model='search2' ng-true-value='320' ng-false-value=''/> {{m1}}>
            <input type="checkbox" data-ng-model='search2' data-ng-true-value='diesel' data-ng-false-value=''/> diesel
            &nbsp;&nbsp;&nbsp;
            <input type="checkbox" data-ng-model='search2' data-ng-true-value='benzyna' data-ng-false-value=''/> benzyna
            <input type="checkbox" data-ng-model='search2' data-ng-true-value='hybryda' data-ng-false-value=''/> hybryda


            <div ng-repeat="m1 in engines|  groupBy:'typ'|orderBy:'typ'">
                <!--label class="btn btn-default">
                    <input type="radio" name="Marka" ng-click="filtrujSilnik(m1,'typ')" > {{m1}} </input></label>
                    <input type="checkbox" ng-model='search2' ng-true-value='320' ng-false-value='' /> {{m1}}
                    <input type="checkbox" data-ng-model='search2' data-ng-true-value='benzyna' data-ng-false-value='' /> {{m1}}-->
                <input type="checkbox" ng-click="includeColour(m1,'typ')"/> {{m1}} </br/>

            </div>


            <!--div ng-repeat="m1 in group1| orderBy:'typ'">
              <label class="btn btn-default">
                  <!--input type="radio" name="Marka" ng-click="filtrujSilnik(m1,'typ')" > {{m1}} </input></label>
                  <input type="checkbox" ng-model='search2' ng-true-value='320' ng-false-value='' /> {{m1}}-- >
                  <input type="checkbox" name="Marka3" data-ng-model='search2' data-ng-true-value='a' data-ng-false-value='' /> Luxury &nbsp;&nbsp;&nbsp;
                  <input type="checkbox" name="Marka3" data-ng-model='search2' data-ng-true-value='benzyna' data-ng-false-value='' /> Double suite
            </div-->

        </div>
        <h4>Skrzynia Biegów</h4>
        <div ng-init="group2 = ( engines | groupBy:'gear'| orderBy:'gear')">
            <div ng-repeat="m2 in group2| orderBy:'gear'">
                <label class="btn btn-default">
                    <!--input type="radio" name="Marka" ng-click="filtrujSkrzynia (m2,'gear')"> {{m2}} </input-->
                    <input type="checkbox" ng-click="includeColour(m2,'gear')"/> {{m2}} </br/>
                </label>
            </div>
        </div>
        <h4>Napęd</h4>
        <div ng-init="group3 = ( engines | groupBy:'naped'| orderBy:'naped')">
            <div ng-repeat="m3 in group3| orderBy:'naped'">
                <!--label class="btn btn-default"><input type="radio" name="Marka" ng-click="filtrujSilnik(m3,'naped')"> {{m3}} </input> </label-->

                <input type="checkbox" ng-click="includeColour(m3,'naped')"/> {{m3}} </br/>
            </div>
        </div>
    </div>


    <div class="models_column" style="width:calc( 100% - 250px );">
        <h4>Silniki</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Name</th>
                <th>Moc w kW (KM)</th>
                <th> Skrzynia Biegów</th>
                <th> Przyspieszenie <br/> Spalanie <br/> Emisja CO2</th>
                <th> typ paliwa</th>
                <th> Cena</th>
                <th> Rata</th>
            </tr>
            </thead>
            <tr data-ng-repeat="engi in engines_all | orderBy:'silniki'|filter:search2|filter:colourFilter">

                <td><input type="radio" name="Markaee" ng-click="showButton2('button2',engi.typ)"
                           ng-model="orderedCar.price" ng-value="engi.cena"> {{engi.name}}</input></td>
                <td>{{engi.power}}</td>
                <td>{{engi.gear}}</td>
                <td>{{engi.boost}} <br/> {{engi.burn}} <br/> {{engi.co2}}</td>
                <td>{{engi.typ}}</td>
                <td>{{engi.cena}}</td>
                <td>{{engi.rata}}</td>
            </tr>
        </table>


        <!--div data-ng-repeat="engi in engines_all | groupBy:'silniki'| orderBy:'silniki'" >
              <label class="btn btn-default"><input type="radio" name="Grupa" ng-click=""> {{engi}} </input> </label>
        </div-->
    </div>

    <!--div  class="models_column">
        <h4>moc</h4>

        <div data-ng-repeat="silnik in engines | groupBy:'kw'| orderBy:'kw'">
              <label class="btn btn-default"><input type="radio" name="kw" ng-click="filterGrupaModelowa(silnik)"> {{silnik}} </input></label>
        </div>
    </div-->

    <!--div  class="models_column" style="width:100%; font-size:8px;">
        <h1>( Baza Danych )</h1>
			 <div data-ng-repeat="engines in engines|filter:search" >
 {{engines.mark}} , {{engines.typ}}, <b>silnik:</b> {{engines.silnik}} ,<b>moc:</b> {{engines.kw}} , {{engines.gear}} ,
	<b>naped:</b> {{engines.naped}} ,<b> cena: </b>{{engines.cena}}pln</b><br/>
			 </div>          	 
    </div-->



    <div ng-click="model1admin='block'">Kliknij aby pokazać Panel zarządzania</div>
    <div style="display:{{model1admin}}">

        <h4> Edyduj Tabelę Silników {{orderedCar.name}}</h4>Kliknij na nazwę kolumny aby posortować <br>

        <table class="table table-striped" st-table="engines">
            <thead>
            <tr>
                <th st-sort="name">name</th>
                <th st-sort="gear">gear</th>
                <th st-sort="power">power</th>
                <th st-sort="naped">naped</th>
                <th st-sort="burn">burn</th>
                <th st-sort="cena">cena</th>
                <th st-sort="boost">boost</th>
                <th st-sort="burn">burn</th>
                <th st-sort="co2">co2</th>
                <th></th>
            </tr>
            </thead>
            <tr ng-repeat="row in engines|filter:searchVechicelsInAadmin">
                <td><input class="input14" ng-value='row.name' ng-model="row.name"/></td>
                <td><input class="input14" ng-value='row.gear' ng-model="row.gear"/></td>
                <td><input class="input14" ng-value='row.power' ng-model="row.power"/></td>
                <td><input class="input14" ng-value='row.naped' ng-model="row.naped"/></td>
                <td><input class="input14" ng-value='row.burn' ng-model="row.burn"/> </td>
                <td><input class="input14" ng-value='row.cena' ng-model="row.cena"/>   </td>
                <td><input class="input14" ng-value='row.boost' ng-model="row.boost"/>  </td>
                <td><input class="input14" ng-value='row.burn' ng-model="row.burn"/>  </td>
                <td><input class="input14" ng-value='row.co2' ng-model="row.co2"/>   </td>
                <td><input class="rata" ng-value='row.rata' ng-model="row.rata"/>   </td>
                <td><input class="rata" ng-value='row.rata' ng-model="row.rata"/>   </td>
                <td>         <div  ng-click="removeItemEngines(row)"   class="btn btn-ui-default btn-primary"  style=" padding: 0;" >usun</div>    <br/></td>
            </tr>
            <tr>
                <th><input placeholder="name" ng-value='addingItem.name' ng-model="addingItem.name" style="width:100%"/></th>
                <th><input placeholder="gear" ng-value='addingItem.gear' ng-model="addingItem.gear" style="width:100%"/></th>
                <th><input placeholder="power" ng-value='addingItem.power' ng-model="addingItem.power" style="width:100%"/></th>
                <th><input placeholder="naped" ng-value='addingItem.naped' ng-model="addingItem.naped" style="width:100%"/></th>
                <th><input placeholder="burn" ng-value='addingItem.burn' ng-model="addingItem.burn" style="width:100%"/></th>
                <th><input placeholder="cena" ng-value='addingItem.burn' ng-model="addingItem.cena" style="width:100%"/></th>
                <th><input placeholder="boost" ng-value='addingItem.boost' ng-model="addingItem.boost" style="width:100%"/></th>
                <th><input placeholder="boost" ng-value='addingItem.co2' ng-model="addingItem.co2" style="width:100%"/></th>
                <th><input placeholder="boost" ng-value='addingItem.co2' ng-model="addingItem.co2" style="width:100%"/></th>
                <td><div  ng-click="addRecordEngines()"   class="btn btn-ui-default btn-primary"  style="width:20%;  height:90%; padding: 0;" > dodaj </div></td>
            </tr>

        </table>
    </div>


</div>


