<div>


    <div style="border-bottom:1px solid #f3f3f3;">
                <span style=" text-align: left;">
                    <h4>
                        Cena modelu {{orderedCar.name}}:{{orderedCar.price}} zł +{{orderedCar.pack_price}} zł +{{orderedCar.free_pack_price}} zł
                    </h4>
                </span>
    </div>


    <div ng-init="pakiety[selectedPakiet].list" class="models_column" style="width:540px;">

        <h4> Wybór Pakietu </h4>
        <h5> Opis Pakietu </h5>
        <div ng-repeat="m2 in pakiety[selectedPakiet].list ">

            <input name="pakiet" ng-click="setPackElement( m2.list,m2.name )" type="radio">
            {{m2.name}} <br/>

            <b>{{m2.price}} zł </b> lub <b>{{m2.price}} zł </b> miesięcznie <br/>
            <br/>
        </div>

        <h5 style="display:{{displayAddonPacks}};">Opis Wybranego Pakietu</h5>

        <table ng-init="packElement" ng-show="1" class="table table-striped" style="display:{{displayAddonPacks}};" >

            <thead>

            <tr>
                <th>{{search5}}</th>
                <th>Opis</th>
                <th>Cena w pakiecie</th>
            </tr>
            </thead>

            <tr ng-repeat="m3 in packElement">
                <td><input type="checkbox" ng-model="m3.waluta1" ng-init="( m3.waluta1 ='true')" value="m3.waluta1"
                           ng-true-value="true" ng-false-value="" ></td>
                <td>{{geModelPackElementAliasFromID(m3[0])}}</td>
                <td>{{m3[1]}} {{m3.waluta1}}</td>
            </tr>

        </table>


    </div>

    <div class="models_column" style="width:550px; display:{{displayAddonPacks}}; ">
        <h4>Dodatkowe Opcje111 </h4>
        <table  ng-init="pakiety[selectedPakiet].pack_alt" class="table table-striped">
            <thead>
            <tr>
                <th>Cena bez pakietu</th>
                <th>Opis</th>
                <th>Cena w pakiecie</th>
            </thead>

            <tr ng-repeat="m3 in pakiety[selectedPakiet].pack_alt">

                <td><input type="checkbox" class="resetCheckbox" ng-model="m3.waluta1" ng-change="countFreePacks()"
                           value="m3.waluta1" ng-true-value="true" ng-false-value=""></td>
                <td>{{geModelPackElementAliasFromID(m3[0])}}</td>
                <td>{{m3[1]}}</td>
            </tr>

        </table>
    </div>

    <!--div class="models_column" style="width:540px; display:none;">
        <h4>Wybór Pakietu 1</h4>
        <h5>Opis Pakietu</h5>

        <div ng-repeat="m2 in packs | unique:'Pakiet'  ">
            <input name="pakiet" ng-click="setPacks( m2.Pakiet, m2.pack_price, m2.id_pack)" type="radio">
            {{m2.Pakiet}} >> {{m2.id_pack}}<< <br/>
            <b>{{m2.pack_price}} zł </b> lub <b>6,66 zł </b> miesięcznie <br/>
            <br/>
        </div>

        <h5>Opis Wybranego Pakietu</h5>

        <table ng-init="packsElements" ng-show="1" class="table table-striped">
            <thead>
            <tr>
                <th>{{search5}}</th>
                <th>Opis</th>
                <th>Cena w pakiecie</th>
                <th>Cena bez pakietu</th>
            </thead>

            <tr ng-repeat="m3 in packs|filter:search5">
                <td><input type="checkbox" ng-model="m3.waluta1" ng-init="( m3.waluta1 ='true')" value="m3.waluta1"
                           ng-true-value="true" ng-false-value="" disabled></td>
                <td>{{m3.name}}</td>
                <td>{{m3.price_in}}</td>
                <td>{{m3.price_out}}</td>
            </tr>
        </table>
    </div>

    <div-- class="models_column" style="width:550px; display:none; ">
        <h4>Dodatkowe Opcje </h4>
        <table ng-init="packs" class="table table-striped">
            <thead>
            <tr>
                <th>{{packsElementsName}}</th>
                <th>Opis</th>
                <th>Cena w pakiecie</th>
                <th>Cena bez pakietu</th>
                <th>W pakiecie Pakiet</th>  </tr>
            </thead>

            <tr ng-repeat="m3 in packs">

                <td><input type="checkbox" class="resetCheckbox" ng-model="m3.waluta1" ng-change="countFreePacks()"
                           value="m3.waluta1" ng-true-value="true" ng-false-value=""></td>
                <td>{{m3.name}}</td>
                <td>{{m3.price_in}}</td>
                <td>{{m3.price_out}}</td>
                <td>{{m3.Pakiet}}</td>
            </tr>
        </table>
    </div-->

</div>