<style>
    .models_column {
        width: 200px;
        display: inline-table;
    }

    input[type=radio] {
        width: 12px;
        height: 12px;
    }

    td, th {
        width: 160px
    }

    .btn-default {
        border: 0;
        padding: 3px;
        min-width: 160px;
        text-align: left;
        font-size: 13px;
    }

    td {
        -webkit-box-sizing: initial !important;
        box-sizing: initial !important;
    }
</style>


<div>
    <div style="border-bottom:1px solid #f3f3f3;">
<span style=" width:45%;display:inline-table; text-align: left;">
<h4>
    Cena modelu {{orderedCar.name}}:{{orderedCar.price}} zł +{{orderedCar.pack_price}} zł
    +{{orderedCar.free_pack_price}} zł + {{orderedCar.wheelsPrice}} zł
</h4>
</span>
<span>
Wybierz silnik dla {{color.name}} aby kontynuować konfigurację
 <input placeholder="wyszukaj silnik" class="form-control" aria-describedby="sizing-addon1"
        style=" height:25px;width:200px;margin-bottom:5px; display:inline-table" input ng-model="search2.$">
</span>
    </div>


    <div class="models_column">
        <h4>Lusterka</h4>
        <h5>Pakiety wyposażenia </br> i pakiety stylistyczne</h5>

        <input type="radio"><strong class="h5vco-feature-description h5vco-user-selectable ng-binding">Lusterka
        zewnętrzne w kolorze czarnym</strong>
    </div>
    <div class="models_column">
        <h4>Lakier nadwozia  dla {{orderedCar.name}} z pakietem : {{search5}} </h4>

        <div ng-repeat="m1 in color|filter:orderedCar.packs_id">
            <!--label class="btn btn-default">
                <input type="radio" name="Marka" ng-click="filtrujSilnik(m1,'typ')" > {{m1}} </input></label>
                <input type="checkbox" ng-model='search2' ng-true-value='320' ng-false-value='' /> {{m1}}
                <input type="checkbox" data-ng-model='search2' data-ng-true-value='benzyna' data-ng-false-value='' /> {{m1}}-->
            <label class="btn btn-default" style="background:{{m1.hex}}; margin-bottom: -3px;">
                <input type="radio" name="color" ng-click="includeColour(m1,'typ')"/>

                <span style="background:{{m1.hex}}"> {{m1.name}}</span>

            </label>

        </div>

        <!--h4> Pozostałe Lakiey dla {{orderedCar.name}}</h4>

        <div ng-repeat="m1 in color">
            <!--label class="btn btn-default">
                <input type="radio" name="Marka" ng-click="filtrujSilnik(m1,'typ')" > {{m1}} </input></label>
                <input type="checkbox" ng-model='search2' ng-true-value='320' ng-false-value='' /> {{m1}}
                <input type="checkbox" data-ng-model='search2' data-ng-true-value='benzyna' data-ng-false-value='' /> {{m1}}- ->
            <label class="btn btn-default" style="background:{{m1.hex}}; margin-bottom: -3px;" ng-hide="m2.pack_id == orderedCar.packs_id" >
                <input type="radio" name="color" ng-click="setColorBody(m1.hex,m1.name)"/>

                <span style="background:{{m1.hex}}"> {{m1.name}}</span>

            </label>

        </div-->

    </div>
    <div class="models_column" style="width:540px;">
        <h4>Obręcze dla {{orderedCar.name}} z pakietem : {{search5}} ({{orderedCar.packs_id}})</h4>

        <table class="table table-striped">
            <thead>
            <tr>
                <th> Rozmiar</th>
                <th>nazwa</th>
                <th>Cena w pakiecie:</th>
                <th>pack id:</th>
            </thead>
            <tr ng-repeat="m2 in wheels|filter:orderedCar.packs_id">
                <td><input type="radio" name="felgi" ng-click="setWheelsPrice(0)"> {{m2.size}}</input></td>
                <td>{{m2.name}}</td>
                <td>{{m2.price}}</td>
                <td>{{m2.pack_id}}</td>
            </tr>
        </table>


        <!--h4>Pozostałę Obręcze dla modelu {{orderedCar.name}}</h4>

        <table class="table table-striped">
            <thead>
            <tr>
                <th> Rozmiar</th>
                <th>nazwa</th>
                <th>Cena:</th>
                <th>pack id:</th>
            </thead>
            <tr ng-repeat="m2 in wheels" ng-hide="m2.pack_id == '337'">
                <td><input type="radio" name="felgi" ng-click="setWheelsPrice(m2.price)"> {{m2.size}}</input></td>
                <td>{{m2.name}}</td>
                <td>{{m2.price}}</td>
                <td>{{m2.pack_id}}</td>
            </tr>
        </table-->


    </div>
</div>


</div>


<!--div class="models_column" style="width:calc( 100% - 250px );" >
    <h4>Silniki</h4>
<table class="table table-striped">
<thead><tr><th> Name </th><th>Moc w kW (KM) </th><th> Rodzaj Napędu </th><th> Rodzaj Napędu </th><th> kee? </th><th> Cena </th></tr> </thead>
<tr data-ng-repeat="engi in engines_all | orderBy:'silniki'|filter:search2">

<td> <input type="radio" name="Markaee" ng-click="showButton1('button2')" ng-model="color.price" ng-value="engi.cena" > {{engi.silniki}}</input></td>
<td>{{engi.kw}}</td>
<td>{{engi.gear}}</td>
<td>{{engi.naped}}</td>
<td>{{engi.kee}}</td>
<td>{{engi.cena}}</td>
</tr>
</table>

        <!- -div data-ng-repeat="engi in engines_all | groupBy:'silniki'| orderBy:'silniki'" >
              <label class="btn btn-default"><input type="radio" name="Grupa" ng-click=""> {{engi}} </input> </label>
        </div- ->
</div-->

<!--div  class="models_column">
    <h4>moc</h4>

    <div data-ng-repeat="silnik in engines | groupBy:'kw'| orderBy:'kw'">
          <label class="btn btn-default"><input type="radio" name="kw" ng-click="filterGrupaModelowa(silnik)"> {{silnik}} </input></label>
    </div>
</div-->

<!--div  class="models_column" style="width:100%; font-size:8px;">
    <h1>( Baza Danych )</h1>
         <div data-ng-repeat="engines in engines|filter:search" >
{{engines.mark}} , {{engines.typ}}, <b>silnik:</b> {{engines.silnik}} ,<b>moc:</b> {{engines.kw}} , {{engines.gear}} ,
<b>naped:</b> {{engines.naped}} ,<b> cena: </b>{{engines.cena}}pln</b><br/>
         </div>
</div-->

</div>