<style>
.models_column{
width:200px; display: inline-table;
}

input[type=radio] {
    width: 12px;
    height: 12px;
}

.btn-default {
border:0;
padding:3px;
min-width:160px;
 text-align: left;
 font-size:13px;
}

 .input14 {
    border: none;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background-color: rgba(255, 162, 0, 0.06) ;
    width: 100%;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px 0px;

}

.st-sort-ascent:before{
    content: '\25B2';
}

.st-sort-descent:before{
    content: '\25BC';
}

</style>


<div>
<div style="border-bottom:1px solid #f3f3f3; text-align: right;">
 Wybierz model samochodu aby kontynuować konfigurację
 <input placeholder="wyszukaj" class="form-control"  aria-describedby="sizing-addon1"  style=" height:25px;width:200px;margin-bottom:5px; display:inline-table" input ng-model="search.$">
</div>


    <div class="models_column" >
        <h4>Marka</h4>
        <!--div ng-init="group1 = ( vehicles | groupBy:'mark'| orderBy:'mark')"-->
        <div >
            <!--div ng-repeat="row in group1 |filter:'mark'| orderBy:'mark'"-->
                <div ng-repeat="row in vehicles| unique:'mark'">
                <label class="btn btn-default"><input type="radio" name="Marka"  ng-click="filtrujModele(row.mark)"> {{row.mark}} </input> </label>
            </div>
        </div>
    </div>




    <div class="models_column" id="g_mod0" style="display:none">
        <h4>Nadwozie</h4>
        <div ng-repeat="vehicle in vehicles| unique:'body_typ'">
            <label class="btn btn-default"><input type="radio" name="Grupa" ng-click="filterNadwozie(vehicle.body_typ)"> {{vehicle.body_typ}} </input> </label>
		</div>
    </div>


    <div  class="models_column" id="g_mod1" >
        <h4>Grupa modelowa</h4>

        <div data-ng-repeat="vehicle in vehicles | groupBy:'car_type'| orderBy:'car_type'">
            <label ng4-hide="displayGM(vehicle.length)"  ng-init="displayGM(!$index)"  class="btn btn-default"><input type="radio" name="body_typ"  ng-click="filterGrupaModelowa(vehicle)"> {{vehicle}} </input></label>
		</div>
    </div>

    <div  class="models_column" style=" width:calc( 100% - 610px ); border-left:1px solid #f3f3f3; padding:0px 10px">
        <h4> <span id="g_mod2">Modele</span><span id="g_mod3">Grupa modelowa</span> <span style="color:rgb(254, 189, 1);">*</span></h4>
			 <div style="float:left" data-ng-repeat="vehicle in vehicles | orderBy:'name'|filter:search" style="width:150px; flxoat:left">
                <label class="btn btn-default">
                    <input  style="" type="radio"  ng-if="vehicle.ID=='F30' || vehicle.ID=='F31'"  ng-click="showButton1('button1',vehicle.ID)" ng-model="orderedCar.name" ng-value="vehicle.name"   value="red" name="Modele" > {{vehicle.name}}  </input>
                </label>
			 </div>
    </div>




    <div  ng-click="model1admin='block'">Kliknij aby pokazać Panel zarządzania</div>
    <div  style="display:{{model1admin}}">

        <h4> Edyduj kolumne Samochodów {{orderedCar.name}}</h4>Kliknij na nazwę kolumny aby  posortować  <br>

        <input placeholder="wyszukaj" class="form-control"  aria-describedby="sizing-addon1"  style=" height:25px;width:200px;margin-bottom:5px; display:inline-table" input ng-model="searchVechicelsInAadmin.$">

        <table class="table table-striped"  st-table="vehicles" >
            <thead>
            <tr>
                <th  st-sort="ID" >Model ID</th>
                <th  st-sort="mark"> mark</th>
                <th  st-sort="name">name</th>
                <th  st-sort="body_typ">body_typ</th>
                <th  st-sort="car_type">car_type (optional)</th>
            </tr>
            </thead>
            <tr ng-repeat="row in vehicles|filter:searchVechicelsInAadmin" >
                <td> <input class="input14" ng-value='row.ID'  ng-model="row.ID" /></td>
                <td> <input class="input14" ng-value='row.mark' ng-model="row.mark" /> </td>
                <td> <input class="input14" ng-value='row.name' ng-model="row.name" /> </td>
                <td> <input class="input14" ng-value='row.body_typ' ng-model="row.body_typ" /></td>
                <td>  <input class="input14" ng-value='row.car_type' ng-model="row.car_type" style="width:70% " />
                    <div  ng-click="removeItem(row)"  class="btn" style="width:20%;  height:90%; padding: 0;" >usun</div>
                </td>
            </tr>
            <tr>
                <th><input  ng-value='addingItem.model_id'  ng-model="addingItem.model_id" style="width:100%"/></th>
                <th> <input  ng-value='addingItem.mark'  ng-model="addingItem.mark" style="width:100%"/></th>
                <th><input  ng-value='addingItem.name'  ng-model="addingItem.name" style="width:100%"/></th>
                <th><input  ng-value='addingItem.body_typ'  ng-model="addingItem.body_typ" style="width:100%"/></th>
                <th><input  ng-value='addingItem.car_type'  ng-model="addingItem.car_type" style="width:70%"/>
                    <div  ng-click="addRecord()"  class="btn" style="width:20%;  height:90%; padding: 0;" > dodaj </div>
                </th>    <at-pagination at-list="list" at-config="config"></at-pagination>

            </tr>

        </table>
    </div>

</div>