<style>
    .models_column {
        width: 200px;
        display: inline-table;
    }

    input[type=radio] {
        width: 12px;
        height: 12px;
    }

    td, th {
        width: 160px
    }

    .btn-default {
        border: 0;
        padding: 3px;
        min-width: 160px;
        text-align: left;
        font-size: 13px;
    }

    td {
        -webkit-box-sizing: initial !important;
        box-sizing: initial !important;
    }
</style>


<div>
    <div style="border-bottom:1px solid #f3f3f3;">
<span style=" width:45%;display:inline-table; text-align: left;">
<h4>
    Cena modelu {{color.name}}:{{color.price}} zł
</h4>
</span>
<span>
Wybierz silnik dla {{color.name}} aby kontynuować konfigurację
 <input placeholder="wyszukaj silnik" class="form-control" aria-describedby="sizing-addon1"
        style=" height:25px;width:200px;margin-bottom:5px; display:inline-table" input ng-model="search2.$">
</span>
    </div>


    <div class="models_column" style="width:540px;">
        <h4>Wybór Pakietu</h4>

        <input type="radio">  Pakiet Innowacji      <br/>
        4 355,00 PLN lub 48,05 PLN mies. brutto   <br/>
               <br/>

        <input type="radio"> Convenience Plus Package   <br/>
        7 292,00 PLN lub 80,46 PLN mies. brutto   <br/>
                  <br/>

        <input type="radio">  BMW ConnectedDrive Advanced    <br/>
        7 537,00 PLN lub 83,17 PLN mies. brutto    <br/>
                   <br/>

        <input type="radio"> Driver Assistance Package     <br/>
        7 660,00 PLN lub 84,53 PLN mies. brutto   <br/>
              <br/>

        <input type="radio"> BMW ConnectedDrive Plus  <br/>
        9 123,00 PLN lub 100,67 PLN mies. brutto   <br/>
                   <br/>

        <input type="radio">  Business Class Package     <br/>
        12 409,00 PLN* lub 136,93 PLN mies. brutto     <br/>
                           <br/>

        <input type="radio">  First Class Upgrade     <br/>
        17 572,00 PLN lub 193,90 PLN mies. brutto  <br/>
                         <br/>

        <input type="radio">         <br/>
        Kompozycja Individual     <br/>
        18 733,00 PLN lub 206,71 PLN mies. brutto    <br/>
                      <br/>



        <h5>Opis Pakietu</h5>


        <table class="table table-striped">
            <thead>
            <tr>
                <th>Pakiet</th>
                <th>Opis</th>
                <th>Cena w pakiecie</th>
                <th>Cena bez pakietu</th>
            </thead>

            <tr ng-repeat="m2 in packs">

                <td> {{m2.Pakiet}}</td>
                <td>{{m2.name}}</td>
                <td>{{m2.price_in}}</td>
                <td>{{m2.price_out}}</td>
            </tr>

        </table>


    </div>


    <div class="models_column">
        <h4>Dodatkowe Opcje </h4>




        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Opis</th>
                <th>equ_group</th>
                <th>equ_sub_group</th>
            </thead>

            <tr ng-repeat="m2 in pakiet">

                <td>   <input type="checkbox"/> {{m2.id}} </br/></td>
                <td>{{m2.Denotation}}</td>
                <td>{{m2.equ_group}}</td>
                <td>{{m2.equ_sub_group}}</td>
            </tr>

        </table>


    </div>


</div>


</div>